name: Test

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install tidy 5.8.0
      run: |
        curl -sSL -o /tmp/tidy.zip https://github.com/remram44/regex-cheatsheet/files/6848619/tidy-5.8.0.zip
        unzip -p /tmp/tidy.zip tidy-5.8.0 >/usr/local/bin/tidy
        chmod +x /usr/local/bin/tidy
    - name: Validate HTML
      run: tidy -errors -quiet --drop-empty-elements no regex.html

  test_sed:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run sed tests
      run: tests/test_sed.sh

  set_vim:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run Vim tests
      run: tests/test_vim.sh
